<div class="index-main">
<section class="article-section">
            <header class="entry_header">
                <div class="entry-section">
                    <div class="entry-meta">
                        <span class="byline">by PlanetSpark</span>
                    </div>
                    <div class="action-section">
                        <div class="link-container">
                            <%= link_to edit_article_path(@article) do %>
                                <i class="fas fa-pencil-alt"></i>
                            <% end %>
                            <%= link_to article_path(@article), method: :delete, data: {confirm: 'Are you sure?'} do %>
                                <i class="fas fa-trash"></i>
                            <% end %>
                        </div>
                    </div>
                </div>
                <h2 class="entry-title">
                    <%= @article.title%>
                </h2>
            </header>
            <div class="entry-content">
                <p>
                    <%= @article.text%>
                </p>
            </div>
            <div class="comment_create">
                <%= form_with(model: [@article, @article.comments.build], local: true) do |form|%>
                    <div class="comment_form">
                        <lable> Write your comments here...</lable>
                        <br/>
                        <div class="input-section">
                            <%= form.text_field :commenter ,class:"name_field", placeholder:"Your Name" %>
                            <%= form.text_field :body, class:"comment_field", placeholder:"Your Comment" %>
                            <%= form.submit class:'btn' %>
                        </div>
                    </div>
                <% end %>
            </div>
            <div class='view_comments-section'>
                <% @article.comments.each do |comment| %>
                    <div class="comment-item">
                        <div class="">
                            <i class="fas fa-user fa-2x "></i>        
                        </div>
                        <div class="guest_comment-section">
                            <div>
                                <p class="guest-name"><%= comment.commenter%></p>
                            </div>
                            <div>
                                <p class="guest-content"><%= comment.body%></p>      
                            </div>
                        </div>     
                    </div>     
                       
                <% end %>
            <div>
    </section>       
</div>