<div class="index-main">
<section class="article-section">
            <header class="entry_header">
                <div class="entry-section">
                    <div class="entry-meta">
                        <span class="byline">by PlanetSpark</span>
                    </div>
                    <div class="action-section">
                        <div class="link-container">
                            <%= link_to edit_article_path(@article) do %>
                                <i class="fas fa-pencil-alt"></i>
                            <% end %>

                            <%= link_to article_path(@article) , class:"disable" do %>
                                <i class="far fa-eye disable"></i>
                            <% end %>
                            <%= link_to article_path(@article), method: :delete, data: {confirm: 'Are you sure?'} do %>
                                <i class="fas fa-trash"></i>
                            <% end %>
                        </div>
                    </div>
                </div>
                <h2 class="entry-title">
                    <%= @article.title%>
                </h2>
            </header>
            <div class="entry-content">
                <p>
                    <%= @article.text%>
                </p>
            </div>
            <div class="comment_create">
                <form class="comment_form">
                    <lable> Write your comments here...</lable>
                    <br/>
                    <div class="input-section">
                        <input class="name_field" type="text" placeholder="Your Name">
                        <input class="comment_field" type="text" placeholder="Your Comment">
                        <button type="submit"> Add Comment</button>
                    </div>
                </form>
            </div>
            <div class='view_comments-section'>
                <div class="">
                    <i class="fas fa-user fa-2x "></i>        
                </div>
                <div class="guest_comment-section">
                    <div>
                        <p class="guest-name">Veni</p>
                    </div>
                    <div>
                          <p class="guest-content">  Ipsum officia ea id irure eiusmod do aliquip excepteur duis.</p>      
                    </div>
                </div>
                                
            <div>
    </section>       
</div>